{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1 class="nf-404-text">404 - Not found</h1>
  <p class="nf-404-text nf-404-fun">The wrong path this is.</p>
  <p class="nf-404-text nf-404-fun">The greatest teacher, failure is.</p>
  <p class="nf-404-text nf-404-fun">It's mine. My own. My precious.</p>
  <p class="nf-404-text nf-404-fun">I always liked going south. Somehow, it feels like going downhill.</p>
  <p class="nf-404-text nf-404-fun">I know Kung Fu.</p>
  <p class="nf-404-text nf-404-fun">When this baby hits 88 miles per hour … you're gonna see some serious shit</p>
  <p class="nf-404-text nf-404-fun">But, why is the Rum gone?</p>
  <p class="nf-404-text nf-404-fun">I solemnly swear that I am up to no good.</p>
  <p class="nf-404-text nf-404-fun">It belongs in a museum!</p>
  <p class="nf-404-text nf-404-fun">Clever girl</p>
  <p class="nf-404-text nf-404-fun">Like tears in the rain.</p>
  <script>
    text = document.getElementsByClassName("nf-404-fun")
    text[Math.floor(Math.random() * text.length)].style.display = "block"
  </script>
{% endblock %}